
<div class="col-md-2">
</div>
<div class="col-md-8">
  <div class="container">
    <legend>
      Changing password
    </legend>
    <%= form_for(@user) do |f| %>
        <div class="col-md-12">
        <div class="row">
          <div class="field">
            <%= label_tag :old_password, 'Enter old password' %><br />
            <%= text_field_tag :old_password, params[:old_password], size: 40 %>
          </div>
            <div class="field">
              <%= f.label :password, 'Enter new password' %><br />
              <%= f.text_field :password, size: 40 %>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, 'Verify new password' %><br />
              <%= f.text_field :password_confirmation, size: 40 %>
            </div>
            <div class="actions">
                <%= f.submit 'Change password' %>
            </div>
        </div>
        </div>
    <% end %>
  </div>
</div>
<div class="col-md-2">
  <div class="notice">
    <h1 id="notice"><%= notice %></h1>
  </div>
</div>
