<div class="col-md-2">
</div>
<div class="col-md-8">
  <div class="container">
    <legend>
      Please enter your details
    </legend>
<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
    <div class="col-md-6">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, size: 40 %>
    </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :pay_type %><br />
        <%= f.select :pay_type, Order::PAYMENT_TYPES,
                     prompt: 'Select a payment method' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_area :address, rows: 3, cols: 40 %>
      </div>
      <div class="actions">
        <%= f.submit 'Place Order' %>
      </div>
      </div>
    </div>
<% end %>
  </div>
</div>
<div class="col-md-2">
</div>