<!DOCTYPE html>
<html>
<head>
  <title>BookShelf</title>
  <link rel="shortcut icon" href="/assets/books.ico">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <!-- vendor js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
<div id="header">
  <% if session[:user_id] %>
  <ul class="administrator">
    <li><%= link_to 'Orders', orders_path %></li>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <li class="to_right"><%= link_to image_tag('logout.png', onMouseover: "this.src='/assets/logout_hover.png'", onmouseout:"this.src='/assets/logout.png'"), logout_path, method: :delete %></li>
    <li class="to_right"><%= link_to 'Change password', edit_user_path(User.find_by_id(session[:user_id]))  %></li>
  </ul>
  <% end %>
  <div class="container-fluid">

        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <img src="/assets/logo.png" height="64px", width="auto">
        </div>
    <div class="col-md-8">

    <ul class="nav nav-pills custom">
      <li role="presentation" ><%= link_to 'Home',  magazine_url %></li>
      <li role="presentation" ><%= link_to 'Questions', questions_url %></li>
      <li role="presentation" ><%= link_to 'News', news_url %></li>
      <li role="presentation" ><%= link_to 'Contacts', contacts_url %></li>
      <li role="presentation" >
        <%= link_to image_tag('buy.png'),  @cart, class: :buying %>
      </li>
    </ul>
      </div>
      </div>

  </div>
</div>
<div id="content">
    <%= yield %>
</div>
<div id="footer">
  <div class="centerify">
    <div class="divide">
      <img src="/assets/divide_line.png">
    </div>
    <% t=Time.now%>
    <% t.to_s %>
    <a href="http://vk.com/id307062412">Yanush Roman, Khmelnitsky <%= t.strftime "%Y" %></a>
  </div>
</div>

<% if notice %>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            msg.call();
        });
    </script>
<% end %>
</body>
</html>
